<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teammanagement">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activities.TeamReservationsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AddReservationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.StatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AddTeammatesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.AddTeam2Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.HomeAdminLocationActivity"
            android:label="@string/title_activity_home_admin_location"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.EditTeamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.AnnouncementsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TeamProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.AddTeam1Activity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.HomeAdminActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.android.maps.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <uses-library android:name="com.google.android.maps" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activities.ClaimLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.SearchUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackTextAction" />
        <activity
            android:name=".activities.LoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeleteAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.DisableAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Register2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FaqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TeamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlackText" />
        <activity
            android:name=".activities.Register1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>